


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#b0b0b0; font-size:18px;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#222222;}
.editor-post-title__block textarea {color:#999999; background-color:#f8f8f8;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#000000;}
.editor-block-list__block .wp-block-heading,
.editor-post-title__block textarea {font-family:'bad script', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;}
.editor-block-list__block {font-family:'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;}
